
:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--pure-white: #ffffff;
	--primary-color: #2d283e;
	--secondary-color: #564f6f;
	--tertiary-color: #4c495d;
	--quartiary-color: #817e94;
	--bg-blend-transparent: #44415500;
	--accent-color: #802bb1;
	--heading-color: #d1d7e0;
	--text-color: #d1d7e0;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;

	--primary-color: rgb(86, 29, 33);
	--secondary-color: rgb(143, 51, 54);
	--tertiary-color: rgb(143, 51, 54);
	--bg-blend-transparent: rgba(143, 51, 54, 0);
	--accent-color: rgb(255, 78, 32);
	--heading-color: rgb(240, 237, 236);
	--text-color: rgb(240, 237, 236);

	--primary-color: rgb(50, 17, 12);
	--secondary-color: rgb(150, 53, 57);
	--tertiary-color: rgb(84, 18, 18);
	--bg-blend-transparent: rgba(84, 18, 18, 0);
	--accent-color: rgb(255, 80, 39);

	--primary-color: #2d283e;
	--secondary-color: #564f6f;
	--tertiary-color: #4c495d;
	--bg-blend-transparent: #44415500;

}

.foo {
	color: green;
}

body {
	min-height: 100vh;
	overflow: auto;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		/*180deg,*/
		var(--primary-color) 0%,
		var(--primary-color) 10%,
		/*var(--secondary-color) 10.45%,*/
		var(--tertiary-color) 75%,
		var(--tertiary-color) 100%
	);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.6;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p a {
	color: var(--text-color);
	text-decoration: underline;
}

p a:hover {
	text-decoration: none;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
	color: var(--text-color);
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
